@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.editor-container {
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  border: 1px solid rgba(210, 210, 210, 0.4);
}

.editor-container h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.DraftEditor-editorContainer {
  padding: 0 16px;
  padding-bottom: 16px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-items: start;
  flex-wrap: wrap;
}

.editor-header {
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(210, 210, 210, 0.4);
}

.editor_blockquote {
  margin: 0;
  margin-left: 20px;
  padding: 16px;
  border-left: 4px solid #ccc;

  font-style: italic;
}

.editor_default {
  margin: 16px 0;
}